<%- include('partials/navbar.ejs') %>

<div class="container">
    <h1 style="text-align:center;margin:20px">About Us</h1>

    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, quaerat ut provident at voluptates ducimus perspiciatis, recusandae eaque natus, sapiente explicabo? Nesciunt molestias voluptate alias natus doloribus eum laboriosam voluptates quia accusamus. Nulla sed minus incidunt ullam cumque officia praesentium cupiditate autem! Architecto quasi ratione dolor, iure laboriosam corrupti accusantium repudiandae reiciendis quas cum impedit fugit adipisci! Nulla, id eligendi.</h3>
    
    
</div>

</body>
</html>