<%- include('partials/navbar') %>


<form style="text-align:center" action="/create-post" method="POST">
    <section style="margin-top: 12rem;">
       <div>
        <label for="postTitle">Post Title</label>
        <input style="width: 200px;" type="text" name="postTitle" id="postTitle" placeholder="Enter a title for your post ">
    </div>
    <div>
        <label for="postBody">Post Text</label>
        <br>
        <textarea style="width:300px" name="postBody" id="postbody" cols="30" rows="5"></textarea>
    </div>
    </section>
    
    
<button>Submit</button>
</form>

</body>
</html>
